* {
    margin: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    font-family: Georgia, 'Times New Roman', serif;
    background: #fff;
    color: #111;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    max-width: 1100px;
}

/*  ------ HEADER ------ */

header {
    border-bottom: 1px solid black;
}

.header-unit-1 {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    align-items: center;
    padding: 12px 16px;
    gap: 16px;
}

.header-unit-1 img {
    height: 28px;
}

.nav-toggle {
    display: flex;
    align-items: center;
    gap: 6px;
    background: none;
    cursor: pointer;
    font-size: 14px;
    border: none;
    font-weight: bold;
}

.nav-toggle span {
    font-size: 14px;
}

.header-unit-1 a {
    display: inline;
    text-align: center;
}


.header-unit-1 a:last-child {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    text-decoration: none;
    color: #000;
}

.search-img img {
    height: 18px;
    cursor: pointer;
}

.header-unit-2 {
    border-top: 1px solid #eee;
    padding: 10px 16px;
}

.heading {
    height: 40px;
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 10px 0;
}

.navigation__list,
.navigation ul {
    list-style: none;
}

.navigation__item a {
    font-size: 14px;
    text-decoration: none;
    color: #000;
}


/* ------ HERO IMG ------ */
.main-container {
    padding: 0 16px;
    max-width: 720px;
    margin: 40px auto;
}

.main-container>figure {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.main-container>figure img {
    width: 100%;
}

.main-container>figure figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: end;
    font-size: 12px;
    margin-top: 4px;
    color: #666;
    writing-mode: vertical-lr;
}

.aside {
    text-align: left;
    font-size: 10px;
    padding: 2rem 16rem;
}

/*  ------ ARTICLE ------ */
article {
    display: block;
    padding: 28px 30px;
    justify-content: end;
    align-items: center;
}

article h4 {
    font-size: 13px;
    margin-bottom: 12px;
    color: #b40000;
    text-transform: uppercase;
    margin-bottom: 8px;
}


article h4 span {
    color: #666;
    margin-left: 10px;
    font-size: 12px;
    margin-bottom: 10px;
    color: #666;
    text-transform: uppercase;
}

article h2 {
    /* display: block;
    align-items: end; */
    margin-bottom: 16px;
    font-size: 38px;
    line-height: 1.2;
}

article p {
    font-size: 18px;
    margin-bottom: 20px;
}

article figure {
    margin: 40px 0;
    max-width: 100%;
}

article figure img {
    width: 100%;
}

article figure figcaption {
    font-size: 14px;
    margin-bottom: 8px;
    color: #555;
}

article figure figcaption span {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-size: 13px;
    color: #000;
}


article figure figcaption img {
    width: auto;
}

main section {
    margin: 48px 0;
}

main section>div:first-child {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 14px;
    color: #666;
    gap: 16px;
}



main section>div:first-child h3 {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #c00;
    text-transform: uppercase;
}

section figure figcaption {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 12px;
    margin-bottom: 24px;
}

section figure figcaption img {
    width: 60px;
    border-radius: 48px;
    border-radius: 50%;
}

section figure figcaption a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
}

section h2 {
    font-size: 26px;
    margin-bottom: 12px;
}

section button {
    padding: 10px 20px;
    background-color: #b40000;
    color: #fff;
}

section nav {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 20px 0;
    gap: 20px;
}

section nav ul li {
    list-style: none;
    color: #000;
    font-size: 18px;
    font-weight: bold;
}

section nav a {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 6px;
    font-weight: bold;
    color: #000;
    text-decoration: none;

}

.house-solid-full img {
    max-width: 100px;

}


footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    align-items: center;
    padding: 40px 20px;
    font-size: 13px;
    background-color: #f2f2f2;
    gap: 30px;
}

footer > div {
    line-height: 1.6;
}

footer h3,
footer h4 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

footer p {
    font-size: 14px;
    color: gray;

}

/* links */
footer a {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

footer a:hover {
    text-decoration: underline;
}

/* .footer-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    width: 100%;

} */

footer div > a {
    display: flex;
    align-items: center;
    gap: 8px;
}

footer form {
    margin-bottom: 20px;
}

footer input[type=email] {
    width: 100%;
    padding: 6px;
    margin-bottom: 6px; 
    border: 1px solid #aaa;
}

footer button {
    background: white;
    color: gray;
    max-width: 100px;
    padding: 20px 30px;
}

/* bootom infor */

footer address {
  margin-top: 15px;
  font-size: 12px;
  font-style: normal;
  color: #444;
}

/* bottom nav */
footer > nav {
    grid-column: 1  -1;
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #ccc;
}


footer > nav ul {
  display: flex;
  gap: 20px;
}




















